.second-carousel {
    margin: 20px 0;
}

.second-carousel h2 {
    margin-left: 20px;
    color: white;
    font-size: 1.5em;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    background-color: #111;
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 35px;
    position: relative;
    color: white;
}

.carousel-item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.05);
}

.carousel-item-details {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.carousel-item-details p {
    margin: 0;
    font-size: 1em;
}

.carousel-item-number {
    position: absolute;
    bottom: -10px;
    left: -25px;
    font-size: 6em;
    color: #c0c0c0;
    font-weight: bold;
    z-index: 1;
    text-shadow: 0 0 10px rgba(201, 199, 199, 0.5);

}
